{% extends 'base.html' %}

{% load static %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark" data-bs-theme="light" style="background-color: mediumblue;">
        <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="{% url 'inicio' %}">Rafael Matteo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sobre Mí y mis proyectos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'sobreMi' %}">Sobre Mí</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'pythonEs' %}">Desarrollador Python</a></li>
                <li><a class="dropdown-item" href="{% url 'analisisDeDatos' %}">Análisis de Datos</a></li>
                <li><a class="dropdown-item" href="{% url 'cienciaDeDatos' %}">Ciencia de Datos</a></li>
                <li><a class="dropdown-item" href="{% url 'aprendizajeAutomatico' %}">Aprendizaje Automático</a></li>
                <li><a class="dropdown-item" href="{% url 'aprendizajeProfundo' %}">Aprendizaje Profundo</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'habilidadesTecnicas' %}">Habilidades Técnicas</a></li>
                <li><a class="dropdown-item" href="{% url 'certificados' %}">Certificados</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Currículum
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% static 'resume/spanish/resume_es.pdf' %}" download="resume_es.pdf">Descargar</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Contacto
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" href="https://wa.me/59891667422?text=Hola,%20me%20gustaría%20saber%20más%20sobre%20sus%20servicios" target="_blank">
                    <span style="color: green;">
                        <i class="bi bi-whatsapp"></i>
                    </span>
                        Envíame un mensaje de WhatsApp
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="mailto:rafaelmatteomourigan@gmail.com" target="_blank">
                    <span style="color: red;">
                        <i class="bi bi-envelope-at"></i>
                    </span>
                        Envíame un correo electrónico
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="https://www.linkedin.com/in/rjmatteomourigan/" target="_blank">
                    <span style="color: #0000cd;">
                        <i class="bi bi-linkedin"></i>
                    </span>
                        Visita mi perfil de LinkedIn
                    </a>
                </li>
                </ul>
            </li>

            <li class="nav-item">
                <!-- <a class="nav-link active" href="../english/index.html">Spanish</a> -->
                <a class="nav-link active" href="{% url 'home' %}">English</a>
            </li>

            </ul>
        </div>
        </div>
    </nav>
{% endblock %}